.feedback {
  padding: 5.4rem 2rem;
  .feedback-wrapper {
    h2 {
      text-align: center;
      text-transform: uppercase;
      color: $dark-secondary;
      margin: 0 0 1rem 0;
    }

    p {
      text-align: center;
      font-size: 1rem;
      color: $dark-grey;
      font-weight: 400;
      margin-bottom: 3.18rem;

    }

    .feedback-row {
      flex-wrap: wrap;
      justify-content: space-between;
      .feedback-col {
        width: 33%;
        padding: 1rem;
        border: 1px solid $grey;
        p {
          margin: 0;
          text-align: left;
        }

        .comment {
          font-size: .9rem;
          color: $dark-grey;
          font-weight: 400;
          line-height: 1.6rem;
        }

        .name {
          font-size: 1.2rem;
          color: $primary-color;
          line-height: 1.5rem;
        }

        .country {
          font-size: .8rem;
          color: $grey-search;
          line-height: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 1126px) {
  .feedback {
    .feedback-wrapper{
      .feedback-row {
        flex-direction: column;
        .feedback-col {
          width: 70%;
          margin: 0 auto .5rem auto;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .feedback {
    .feedback-wrapper{
      .feedback-row {
        flex-direction: column;
        .feedback-col {
          width: 100%;
          margin: 0 auto .5rem auto;
        }
      }
    }
  }
}
