.offers {
  padding: 5.4rem 2rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    color: $dark-secondary;
  }

  p {
    text-align: center;
    font-size: 1rem;
    color: $dark-grey;
    font-weight: 400;

  }

  .packages {
    text-align: center;
    margin-top: 6rem;
    flex-wrap: wrap;

    .packages__item {
      width: 25%;
      padding: 1rem;

      figure {
        margin: 0;

        img {
          margin-bottom: -.5rem;
        }

        &:hover {
          border: 2px solid $primary-color;

        &:hover figcaption {
          background-color: $dark-secondary;
          color: $white;
        }
        }
      }
    }
  }
}

@media (max-width: 1126px) {
  .offers {
    .packages {
      .packages__item {
        width: 50%;
      }
    }
  }
}

@media (max-width: 650px) {
  .offers {
    .packages {
      .packages__item {
        width: 100%;
      }
      .packages__item:first-child {
        margin-top: -4rem;
      }
    }
  }
}
