.btn {
  display: inline-block;
  color: $white;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border: 1px solid $grey;
  border-radius: 5px;
}

.btn-primary {
  background-color: $primary-color;
  border: none;
}

button {
  border: none;
  display: inline-block;
  color: $white;
  padding: 1rem 2rem;
}
